@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

/*Darkmode*/

:root{
  --body-bg: #fafafa;
  --body-color: #111;
  --icon-type: ;
}

.darkmode:root{
  --body-bg: #212529;
  --body-color: white;
}

/*Inicio html5*/

html {
  scroll-behavior: smooth;
}

body{
  background-color: var(--body-bg);
  color: var(--body-color);
  transition: all 0.3s ease;
}

.max-width {
  max-width: 1300px;
  padding: 0 80px;
  margin: auto;
}

.navbar {
  position: fixed;
  width: 100%;
  z-index: 999;
  padding: 30px 0;
  /*background: crimson;*/
  font-family: "poppins", sans-serif;
  transition: all 0.3s ease;
}
.navbar.sticky {
  padding: 5px 0;
  background: rgba(129, 46, 150, 0.349);
}


.navbar .max-width {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar .logo a {
  color: #fff;
  font-size: 35px;
  font-weight: 600;
}


.navbar .menu li {
  list-style: none;
  display: inline-block;
}

.navbar .menu li a {
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  margin-left: 30px;
  transition: color 0.3s ease;
}

.navbar .menu li a:hover {
  color: rgba(129, 46, 150);
  transition: all 0.3s ease;
}

.navbar.sticky li a:hover {
  color: #fff;
}

.navbar .menu label{
  cursor: pointer;
  font-size: 20px;
  font-weight: 600;
  color: white;
  margin-left: 30px;
}

.navbar .menu input{
  margin-left: 10px;
}


.menu-btn {
  color: #fff;
  font-size: 23px;
  cursor: pointer;
  display: none;
}

.menu-btn:hover {
  color: rgba(129, 46, 150);
  transition: all 0.3s ease;
}

/*Início*/

.home {
  display: flex;
  background: url("./../img/1146320.jpg");
  height: 100vh;
  color: #fff;
  min-height: 500px;
  font-family: "poppins", sans-serif;
}
.home .max-width {
  margin: auto 0 auto 40px;
}

.home .home-content .text-1 {
  font-size: 75px;
  font-weight: 600;
  margin-left: -3px;
  margin: 0 auto;
}

.home .home-content .text-2 {
  font-size: 40px;
  margin: 5px 0;
}

.home .home-content .text-2 span {
  color: rgba(129, 46, 150);
  font-weight: 500;
}


.home .home-content .message{
  display: inline-block;
  background: rgba(129, 46, 150);
  color: #fff;
  font-size: 25px;
  padding: 12px 36px;
  margin-top: 20px;
  border-radius: 20px;
  border: 2px solid rgba(129, 46, 150);
  transition: all 0.3s ease;
}

.home .home-content .message:hover {
  color: rgba(129, 46, 150);
  background: none;
}

/*Networks icones*/

.home .home-content .linkedin{
  color: #2e74b9;
  transition: all 0.5s ease;
}

.home .home-content .linkedin:hover{
  color: #2e74b9;
  text-shadow: 1px 1px 2px #0a66c2, 1px 1px 3px #0a66c2;
}

.home .home-content .github{
  color: #ffffff;
  transition: all 0.5s ease;
}

.home .home-content .github:hover{
  color: #ffffff;
  text-shadow: 1px 1px 2px #ffffff, 1px 1px 3px #ffffff;
}

.home .home-content .whatsapp{
  color: #56d062;
  transition: all 0.5s ease;
}

.home .home-content .whatsapp:hover{
  color: #56d062;
  text-shadow: 1px 1px 2px #56d062, 1px 1px 3px #56d062;
}

.home .home-content .gmail{
  color: #ea4335;
  transition: all 0.5s ease;
}

.home .home-content .gmail:hover{
  color: #ea4335;
  text-shadow: 1px 1px 2px #af4c43, 1px 1px 3px #af4c43;
}

.home .home-content .discord{
  color: #4e62ee;
  transition: all 0.5s ease;
}

.home .home-content .discord:hover{
  color: #4e62ee;
  text-shadow: 1px 1px 2px #5f6bc0, 1px 1px 3px #5f6bc0;
}

.home .home-content .home-icon i{
  display: inline-flex;
  margin-top: 30px;
  margin-left: 25px;
}

/*Sobre*/

section {
  padding: 100px 0;
}

.about,
.skills {
  font-family: "Poppins", sans-serif;
  width: 100%;
}

.about .title {
  position: relative;
  font-family: "Poppins", sans-serif;
  font-size: 40px;
  font-weight: 500;
  margin-bottom: 60px;
  padding-bottom: 2px;
  text-align: center;
}

.about .title::before {
  content: "";
  position: absolute;
  bottom: 0px;
  left: 50%;
  width: 225px;
  height: 4px;
  background: rgba(129, 46, 150);
  transform: translateX(-50%);
}

/*.about .title::after{
    content: "Quem eu sou";
    position: absolute;
    bottom: -12px;
    left: 50%;
    font-size: 20px;
    color: rgb(202, 33, 67);
    padding: 0px;
    background: #fff;
    transform: translateX(-50%);
}*/

.about .about-content {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: space-between;
}

.about .about-content .left {
  width: 45%;
}

.about .about-content .left img {
  height: 400px;
  width: 400px;
  object-fit: cover;
}

.about .about-content .right {
  width: 55%;
}

.about .about-content .right .text {
  font-size: 25px;
  font-weight: 600;
  margin-bottom: 10px;
}

.about .about-content .right .text span {
  color: rgba(129, 46, 150);
}

.about .about-content .right p {
  text-align: justify;
  font-size: 17px;
  font-weight: 500;
}

.about .about-content .right .frase{
  color: rgba(129, 46, 150);
}

.about .about-content .right a {
  display: inline-block;
  background: rgba(129, 46, 150);
  color: #fff;
  font-size: 20px;
  font-weight: 500;
  padding: 10px 30px;
  margin-top: 20px;
  border-radius: 20px;
  border: 2px solid rgba(129, 46, 150);
  transition: all 0.3s ease;
}

.about .about-content .right a:hover {
  color: rgba(129, 46, 150);
  background: none;
}

/*Projetos*/

.projects{
  font-family: "Poppins", sans-serif;
  width: 100%;
  max-width: 0 auto;
}

.projects .projects-title{
  position: relative;
  font-family: "Poppins", sans-serif;
  font-size: 40px;
  font-weight: 500;
  text-align: center;
  margin-bottom: 60px;
}

.projects .projects-title:before{
  content: "";
  position: absolute;
  bottom: 0px;
  left: 50%;
  width: 170px;
  height: 4px;
  background: rgba(129, 46, 150);
  transform: translateX(-50%);
}

.projects .container {
  max-width: 1044px;
  margin: 0 auto;
  padding: 0 20px;
}

.projects .carousel {
  display: block;
  text-align: left;
  position: relative;
  margin-bottom: 22px;
}

.projects .carousel > input {
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  width: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
}

.projects .carousel > input:nth-of-type(6):checked ~ .carousel__slides .carousel__slide:first-of-type {
  margin-left: -500%;
}
.projects .carousel > input:nth-of-type(5):checked ~ .carousel__slides .carousel__slide:first-of-type {
  margin-left: -400%;
}
.projects.carousel > input:nth-of-type(4):checked ~ .carousel__slides .carousel__slide:first-of-type {
  margin-left: -300%;
}
.projects .carousel > input:nth-of-type(3):checked ~ .carousel__slides .carousel__slide:first-of-type {
  margin-left: -200%;
}
.projects .carousel > input:nth-of-type(2):checked ~ .carousel__slides .carousel__slide:first-of-type {
  margin-left: -100%;
}
.projects .carousel > input:nth-of-type(1):checked ~ .carousel__slides .carousel__slide:first-of-type {
  margin-left: 0%;
}
.projects .carousel > input:nth-of-type(1):checked ~ .carousel__thumbnails li:nth-of-type(1) {
  box-shadow: 0px 0px 0px 5px rgba(129, 46, 150);
}
.projects .carousel > input:nth-of-type(2):checked ~ .carousel__thumbnails li:nth-of-type(2) {
  box-shadow: 0px 0px 0px 5px rgba(129, 46, 150);
}
.projects .carousel > input:nth-of-type(3):checked ~ .carousel__thumbnails li:nth-of-type(3) {
  box-shadow: 0px 0px 0px 5px rgba(129, 46, 150);
}
.projects .carousel__slides {
  position: relative;
  z-index: 1;
  padding: 0;
  margin: 0;
  overflow: hidden;
  white-space: nowrap;
  box-sizing: border-box;
  display: flex;
}

.projects .carousel__slide {
  position: relative;
  display: inline-block;
  flex: 1 0 100%;
  width: 100%;
  height: 100%;
  overflow: hidden;
  transition: all 300ms ease-out;
  vertical-align: top;
  box-sizing: border-box;
  white-space: normal;
}

.projects .carousel__slide figure {
  display: flex;
  margin: 0;
}

.projects .carousel__slide div {
  position: relative;
  width: 100%;
}

.projects .carousel__slide div:before {
  display: block;
  content: "";
  width: 100%;
  padding-top: 66.6666666667%;
}

.projects .carousel__slide div > img {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
}

 .carousel__slide img {
  display: block;
  flex: 1 1 auto;
  object-fit: cover;
}

.carousel__slide figcaption {
  align-self: flex-end;
  padding: 20px 20px 0 20px;
  flex: 0 0 auto;
  width: 25%;
  min-width: 150px;
}

.carousel__slide .line {
  margin-top: 1rem;
  color: rgba(0, 0, 0, 0.5);
  display: block;
}

.carousel__slide.scrollable {
  overflow-y: scroll;
}

.carousel__thumbnails {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  margin: 0 -10px;
}

.carousel__slides + .carousel__thumbnails {
  margin-top: 20px;
}

.carousel__thumbnails li {
  flex: 1 1 auto;
  max-width: calc((100% / 6) - 20px);
  margin: 0 10px;
  transition: all 300ms ease-in-out;
}

.carousel__thumbnails label {
  display: block;
  position: relative;
}

.carousel__thumbnails label:before {
  display: block;
  content: "";
  width: 100%;
  padding-top: 100%;
}

.carousel__thumbnails label > img {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
}

.carousel__thumbnails label:hover, .carousel__thumbnails label:focus {
  cursor: pointer;
}

.carousel__thumbnails label:hover img, .carousel__thumbnails label:focus img {
  box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.25);
  transition: all 300ms ease-in-out;
}

.carousel__thumbnails img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/*Habilidades*/

.skills .skills-title {
  position: relative;
  font-family: "Poppins", sans-serif;
  text-align: t;
  font-size: 40px;
  font-weight: 500;
  margin-bottom: 60px;
  padding-bottom: 2px;
  text-align: center;
}

.skills .skills-title::before {
  content: "";
  position: absolute;
  bottom: 0px;
  left: 50%;
  width: 240px;
  height: 4px;
  background: rgba(129, 46, 150);
  transform: translateX(-50%);
}

.skills {
  display: flex;
  background: url("./../img/milad-fakurian-nY14Fs8pxT8-unsplash.jpg");
  height: auto;
  color: #fff;
  min-height: 500px;
  font-family: "poppins", sans-serif;
}

.skills .skills-content {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: space-between;
}

.skills .skills-content .card {
  width: 255px;
  background: #525255;
  text-align: center;
  border-radius: 6px;
  padding: 20px 5px;
  margin: 10px;
  cursor: pointer;
}

.skills .skills-content .card img {
  width: 120px;
}

.skills .skills-content .card .text {
  font-size: 25px;
  font-weight: 500;
  margin: auto;
}

.skills .skills-content .card .box {
  transition: all 0.3s ease;
}

.skills .skills-content .card:hover {
  background: #fff;
  color: #111;
}

.skills .skills-content .card:hover .box {
  transform: scale(1.05);
}

/*Contato*/

.contact .contact-title {
  position: relative;
  font-family: "Poppins", sans-serif;
  text-align: t;
  font-size: 40px;
  font-weight: 500;
  margin-bottom: 60px;
  padding-bottom: 2px;
  text-align: center;
}

.contact .contact-title::before {
  content: "";
  position: absolute;
  bottom: 0px;
  left: 50%;
  width: 170px;
  height: 4px;
  background: rgba(129, 46, 150);
  transform: translateX(-50%);
}

.contact {
  font-family: "Poppins", sans-serif;
}

.contact .contact-content {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: space-between;
}

.contact .contact-content .column {
  width: calc(50% - 30px);
}

.contact .contact-content .text {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 10px;
}

.contact .contact-content .left p {
  text-align: justify;
}

.contact .contact-content .left .icons {
  margin: 10px 0;
}

.contact .contact-content .row {
  display: flex;
  height: 65px;
  align-items: center;
}

.contact .contact-content .row .info {
  margin-left: 30px;
}

.contact .contact-content .row .celphone {
  padding-left: 5px;
}

.contact .contact-content .row i {
  font-size: 25px;
  color: rgba(129, 46, 150);
}

.contact .contact-content .info .head {
  font-weight: 500;
}

.contact .contact-content .info .sub-title {
  color: --body-color;
}
.contact .contact-content .info .sub-title a{
  color: #2e74b9;

}

.contact .right .text {
  text-align: center;
}

.contact .right form .fields {
  display: flex;
}

.contact .right form .field,
.contact .right form .field .field {
  height: 45px;
  width: 100%;
  margin-bottom: 15px;
}

.contact .right form .textarea {
  height: 80px;
}

.contact .right form .name {
  margin-right: 10px;
}

.contact .right form .lastname {
  margin-left: 10px;
}

.contact .right form .field input,
.contact .right form .textarea textarea {
  height: 100%;
  width: 100%;
  border: 1px solid lightgrey;
  border-radius: 6px;
  outline: none;
  padding: 0 15px;
  font-size: 17px;
  font-family: "Poppins", sans-serif;
}

.contact .right form .textarea textarea {
  padding-top: 10px;
  resize: none;
}

.contact .right form .button {
  height: 47px;
  width: 170px;
  margin: 0 auto;
}

.contact .right form .button button {
  width: 100%;
  height: 100%;
  color: #fff;
  background: rgba(129, 46, 150);
  border: 2px solid rgba(129, 46, 150);
  font-size: 20px;
  font-weight: 500;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.contact .right form .button button:hover {
  color: #111;
  background: none;
}

/*Footer*/

footer {
  font-family: "Poppins", sans-serif;
  height: 150px;
  background: #111;
  color: #fff;
  padding: 20px 23px;
  text-align: center;
}

.footer-img {
  height: 50px;
}

footer span a {
  color: rgba(129, 46, 150);
}

footer span a:hover {
  text-decoration: underline;
  color: white;
}

/*Media*/

@media (max-width: 1330px) {
  .home .max-width {
    margin-left: 0px;
  }
}
@media (max-width: 1104px) {
  .about .about-content .left img {
    height: 350px;
    width: 350px;
  }
}

@media (max-width: 947px) {
  .max-width {
    padding: 0 50px;
  }
  .menu-btn {
    display: block;
    z-index: 999;
  }
  .menu-btn i.active:before {
    content: "\f00d";
  }
  .navbar .menu {
    position: fixed;
    height: 100vh;
    width: 100%;
    left: -100%;
    top: 0;
    background: #111;
    text-align: center;
    padding-top: 80px;
    transition: all 0.3s ease;
  }
  .navbar .menu.active {
    left: 0;
  }
  .navbar .menu label{
    margin-left: 0;
  }
  .navbar .menu li {
    display: block;
  }
  .navbar .menu li a {
    display: inline-block;
    margin: 20px 0;
    font-size: 15px;
  }
  .home .home-content .text-1 {
    font-size: 70px;
  }
  .home .home-content .text-2 {
    font-size: 35px;
  }
  .home .home-content .home-icon{
    display: inline-flex;
  }
  .home .home-content .linkedin{
    font-size: 13px;
  }
  .home .home-content .github{
    font-size: 13px;
  }
  .home .home-content .whatsapp{
    font-size: 13px;
  }
  .home .home-content .gmail{

    font-size: 13px;
  }
  .home .home-content .discord{
    font-size: 13px;
  }
}

@media (max-width: 690px) {
  .max-width {
    padding: 0 23px;
  }
  .home .home-content .text-1 {
    font-size: 60px;
  }
  .home .home-content .text-2 {
    font-size: 32px;
  }
  .home .home-content .message{
    font-size: 20px;
    padding: 9px 25px;
  }
  .max-width {
    max-width: 800px;
  }
  .about .about-content .column {
    width: 50%;
  }
  .about .about-content .left {
    display: flex;
    justify-content: center;
    margin: 0 auto 60px;
  }
  .about .about-content .right {
    flex: 100%;
  }
  .skills .skills-content .card {
    width: 100%;
  }
  .contact .contact-content .column {
    width: 100%;
    margin-bottom: 35px;
  }
  .home .home-content .linkedin{
    font-size: 13px;
  }
  .home .home-content .github{
    font-size: 13px;
  }
  .home .home-content .whatsapp{
    font-size: 13px;
  }
  .home .home-content .gmail{
    font-size: 13px;
  }
  .home .home-content .discord{
    font-size: 13px;
  }
}

@media (max-width: 500px) {
  .home .home-content .text-1 {
    font-size: 50px;
  }
  .home .home-content .text-2 {
    font-size: 27px;
  }
  .skills .skills-content .card {
    width: 100%;
  }
}
